<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form action="" [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-label floating>User ID</ion-label>
        <ion-input type="email" formControlName="userName"></ion-input>
      </ion-item>
      <ion-card-content id="userNameError" *ngIf="validateUserName()">
        Invalid UserName format
      </ion-card-content>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-card-content id="passwordError" *ngIf="validatePassword()">
        Invalid password format. Password must be between 6 and 10 characters
      </ion-card-content>

    </ion-list>

    <div padding>
      <button ion-button color="primary" block type="submit" [disabled]="!loginForm.valid" (click)="login()">Sign In</button>
    </div>
    <div padding>
      <button ion-button color="danger" block [navPush]="registerPage">Register</button>
    </div>
  </form>
</ion-content>